 <section class="blog-posts py-4">
    <div class="container">
      <div class="row">

        <!-- Left Side -->
        <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="row">

            <article class="blog-post bg-dark mb-3 p-3">
              <div class="row">

                <div class="col-lg-4 m-auto">
                  <img src="static/images/fashion-blog-6.jpg" alt="blog img" class="img-fluid">
                </div>
                <div class="col-lg-8 mt-sm-2 mt-lg-0 posts">
                  <h3>My 1st Blog</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis laboriosam vero nulla modi
                    autem debitis explicabo deleniti sit nostrum. Quae culpa accusamus obcaecati. <a
                      href="/post-detail.hbs">Read More</a></p>
                  <div class="badges my-2">
                    <a href="#" class="mr-2 py-1 px-2">Tecchnology</a>
                    <a href="#" class="mr-2 py-1 px-2">Programming</a>
                    <a href="#" class="mr-2 py-1 px-2">HTML, CSS</a>
                  </div>
                </div>

              </div>
            </article>

            <article class="blog-post bg-dark mb-3 p-3">
              <div class="row">

                <div class="col-lg-4 m-auto">
                  <img src="static/images/fashion-blog-6.jpg" alt="blog img" class="img-fluid">
                </div>
                <div class="col-lg-8 mt-sm-2 mt-lg-0 posts">
                  <h3>My 1st Blog</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis laboriosam vero nulla modi
                    autem debitis explicabo deleniti sit nostrum. Quae culpa accusamus obcaecati. <a
                      href="/views/post-detail.hbs">Read More</a></p>
                  <div class="badges my-2">
                    <a href="#" class="mr-2 py-1 px-2">Tecchnology</a>
                    <a href="#" class="mr-2 py-1 px-2">Programming</a>
                    <a href="#" class="mr-2 py-1 px-2">HTML, CSS</a>
                  </div>
                </div>

              </div>
            </article>

            <article class="blog-post bg-dark mb-3 p-3">
              <div class="row">

                <div class="col-lg-4 m-auto">
                  <img src="static/images/fashion-blog-6.jpg" alt="blog img" class="img-fluid">
                </div>
                <div class="col-lg-8 mt-sm-2 mt-lg-0 posts">
                  <h3>My 1st Blog</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis laboriosam vero nulla modi
                    autem debitis explicabo deleniti sit nostrum. Quae culpa accusamus obcaecati. <a
                      href="/views/post-detail.hbs">Read More</a></p>
                  <div class="badges my-2">
                    <a href="#" class="mr-2 py-1 px-2">Tecchnology</a>
                    <a href="#" class="mr-2 py-1 px-2">Programming</a>
                    <a href="#" class="mr-2 py-1 px-2">HTML, CSS</a>
                  </div>
                </div>

              </div>
            </article>

            <article class="blog-post bg-dark mb-3 p-3">
              <div class="row">

                <div class="col-lg-4 m-auto">
                  <img src="static/images/fashion-blog-6.jpg" alt="blog img" class="img-fluid">
                </div>
                <div class="col-lg-8 mt-sm-2 mt-lg-0 posts">
                  <h3>My 1st Blog</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis laboriosam vero nulla modi
                    autem debitis explicabo deleniti sit nostrum. Quae culpa accusamus obcaecati. <a
                      href="/views/post-detail.hbs">Read More</a></p>
                  <div class="badges my-2">
                    <a href="#" class="mr-2 py-1 px-2">Tecchnology</a>
                    <a href="#" class="mr-2 py-1 px-2">Programming</a>
                    <a href="#" class="mr-2 py-1 px-2">HTML, CSS</a>
                  </div>
                </div>

              </div>
            </article>

            <article class="blog-post bg-dark mb-3 p-3">
              <div class="row">

                <div class="col-lg-4 m-auto">
                  <img src="static/images/fashion-blog-6.jpg" alt="blog img" class="img-fluid">
                </div>
                <div class="col-lg-8 mt-sm-2 mt-lg-0 posts">
                  <h3>My 1st Blog</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis laboriosam vero nulla modi
                    autem debitis explicabo deleniti sit nostrum. Quae culpa accusamus obcaecati. <a
                      href="/views/post-detail.hbs">Read More</a></p>
                  <div class="badges my-2">
                    <a href="#" class="mr-2 py-1 px-2">Tecchnology</a>
                    <a href="#" class="mr-2 py-1 px-2">Programming</a>
                    <a href="#" class="mr-2 py-1 px-2">HTML, CSS</a>
                  </div>
                </div>

              </div>
            </article>

            <article class="blog-post bg-dark mb-3 p-3">
              <div class="row">

                <div class="col-lg-4 m-auto">
                  <img src="static/images/fashion-blog-6.jpg" alt="blog img" class="img-fluid">
                </div>
                <div class="col-lg-8 mt-sm-2 mt-lg-0 posts">
                  <h3>My 1st Blog</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis laboriosam vero nulla modi
                    autem debitis explicabo deleniti sit nostrum. Quae culpa accusamus obcaecati. <a
                      href="/views/post-detail.hbs">Read More</a></p>
                  <div class="badges my-2">
                    <a href="#" class="mr-2 py-1 px-2">Tecchnology</a>
                    <a href="#" class="mr-2 py-1 px-2">Programming</a>
                    <a href="#" class="mr-2 py-1 px-2">HTML, CSS</a>
                  </div>
                </div>

              </div>
            </article>

          </div>
        </div>

        <!-- Aside -->
        <aside class="col-sm-12 col-md-4 col-lg-4">

          <!-- Social Links -->

          <div class="social-links row text-center m-0">
            <div class="col-sm-4 py-4">
              <a class="w-100" href="#">
                <i class="fab fa-facebook-square"></i>
              </a>
            </div>
            <div class="col-sm-4 py-4 s-color">
              <a class="w-100" href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
            <div class="col-sm-4 py-4">
              <a class="w-100" href="#">
                <i class="fa fa-youtube"></i>
              </a>
            </div>
          </div>

          <!-- Authors -->
          <section>
            <h4 class="aside-heading mt-4">Popular Authors</h4>
            <div class="row popular-authors">
              <article class="col-sm-6 col-md-12 row author mb-3">
                <div class="col-sm-6 col-md-6 col-lg-4">
                  <img
                    src=https://media-exp1.licdn.com/dms/image/D4D03AQFdgvGY1qdVXg/profile-displayphoto-shrink_800_800/0/1662913665925?e=1669248000&v=beta&t=zVCpK_6uCVoiwGpT6bOJOk84K2uPJ-hdp-dfbF4aknI
                    alt="author" class="img-fluid rounded-circle">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8">
                  <h5 class="m-0">Abhishek Tekalkar</h5>
                  <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, illum!</p>
                  <div class="author-social-links">
                    <a class="social-link w-100" href="#">
                      <i class="fab fa-facebook-square"></i>
                    </a>
                    <a class="social-link w-100" href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a class="social-link w-100" href="#">
                      <i class="fab fa-youtube"></i>
                    </a>

                  </div>
                </div>
              </article>

              <article class="col-sm-6 col-md-12 row author mb-3">
                <div class="col-sm-6 col-md-6 col-lg-4">
                  <img
                    src=https://media-exp1.licdn.com/dms/image/D4D03AQFdgvGY1qdVXg/profile-displayphoto-shrink_800_800/0/1662913665925?e=1669248000&v=beta&t=zVCpK_6uCVoiwGpT6bOJOk84K2uPJ-hdp-dfbF4aknI
                    alt="author" class="img-fluid rounded-circle">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8">
                  <h5 class="m-0">Abhishek Tekalkar</h5>
                  <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, illum!</p>
                  <div class="author-social-links">
                    <a class="social-link w-100" href="#">
                      <i class="fab fa-facebook-square"></i>
                    </a>
                    <a class="social-link w-100" href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a class="social-link w-100" href="#">
                      <i class="fab fa-youtube"></i>
                    </a>

                  </div>
                </div>
              </article>

              <article class="col-sm-6 col-md-12 row author mb-3">
                <div class="col-sm-6 col-md-6 col-lg-4">
                  <img
                    src=https://media-exp1.licdn.com/dms/image/D4D03AQFdgvGY1qdVXg/profile-displayphoto-shrink_800_800/0/1662913665925?e=1669248000&v=beta&t=zVCpK_6uCVoiwGpT6bOJOk84K2uPJ-hdp-dfbF4aknI
                    alt="author" class="img-fluid rounded-circle">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8">
                  <h5 class="m-0">Abhishek Tekalkar</h5>
                  <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, illum!</p>
                  <div class="author-social-links">
                    <a class="social-link w-100" href="#">
                      <i class="fab fa-facebook-square"></i>
                    </a>
                    <a class="social-link w-100" href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a class="social-link w-100" href="#">
                      <i class="fab fa-youtube"></i>
                    </a>

                  </div>
                </div>
              </article>

              <article class="col-sm-6 col-md-12 row author mb-3">
                <div class="col-sm-6 col-md-6 col-lg-4">
                  <img
                    src=https://media-exp1.licdn.com/dms/image/D4D03AQFdgvGY1qdVXg/profile-displayphoto-shrink_800_800/0/1662913665925?e=1669248000&v=beta&t=zVCpK_6uCVoiwGpT6bOJOk84K2uPJ-hdp-dfbF4aknI
                    alt="author" class="img-fluid rounded-circle">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8">
                  <h5 class="m-0">Abhishek Tekalkar</h5>
                  <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, illum!</p>
                  <div class="author-social-links">
                    <a class="social-link w-100" href="#">
                      <i class="fab fa-facebook-square"></i>
                    </a>
                    <a class="social-link w-100" href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a class="social-link w-100" href="#">
                      <i class="fab fa-youtube"></i>
                    </a>

                  </div>
                </div>
              </article>
          </section>

          <!-- Categories -->
          <section>
            <h4 class="aside-heading mt-4">Categories</h4>
            <div class="category">
              <p class="category-link">
                <a href="#" class="p-2">Technology</a>
              </p>
              <p class="category-link">
                <a href="#" class="p-2">Programming</a>
              </p>
              <p class="category-link">
                <a href="#" class="p-2">HTML, CSS</a>
              </p>
              <p class="category-link">
                <a href="#" class="p-2">Javascript</a>
              </p>
              <p class="category-link">
                <a href="#" class="p-2">React</a>
              </p>
              <p class="category-link">
                <a href="#" class="p-2">React</a>
              </p>
              <p class="category-link">
                <a href="#" class="p-2">React</a>
              </p>
              <p class="category-link">
                <a href="#" class="p-2">React</a>
              </p>
              <p class="category-link">
                <a href="#" class="p-2">React</a>
              </p>
              <p class="category-link">
                <a href="#" class="p-2">React</a>
              </p>
            </div>
          </section>

        </aside>

      </div>
    </div>
  </section>